* {
    padding: 0;
    margin: 0;
}
html {
    background-color: gray;
}
html::-webkit-scrollbar {

    width: 0;

}
.header {
    height: 80px;
    color: #00f;
    text-align: center;
    background-color: yellow;
    vertical-align: middle;
    line-height: 80px;
    padding: 0 10px;
    /*transition: all 1s ease;*/
}
nav li, h1, header, nav {
    display: inline-block;
}
header {
    float: left;
    height: 100%;
}
nav {
    float: right;
}
nav li {
    margin: 0 5px;
    vertical-align: middle;
    line-height: 40px;
}
nav a {
    color: blue;
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    border: 2px solid blue;
    display: inline-block;
}
nav a:hover {
    background-color: blue;
    color: yellow;
    transition: all linear 0.6s;
}
.home {
    height: 500px;
    background: url("bg-home.jpg") no-repeat fixed;
    background-size: cover;
    text-align: center;
    color: yellow;
    vertical-align: bottom;
    text-shadow: 1px 1px 2px blue;
    position: relative;
}
.home h2 {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.price {
    height: 300px;
    background-color: #EAEAEA;
    padding: 25px 2%;
}
.tariff {
    width: 30%;
    height: 300px;
    display: inline-block;
    background-color: white;
    /*border: 2px solid black;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 1.25%;
    text-align: center;
}
.tariff h2, .tariff p {
    padding-top: 10px;
}
.tariff i {
    color: blue;
}
.tariff button {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    color: yellow;
    text-shadow: 1px 1px 2px blue;
}
.tariff button:hover {
    cursor: pointer;
}
.events {
    /*height: 800px;*/
    background-color: rgba(255,0,0, 0.4);
}
.contact-us {
    height: 450px;
    background-color: #0ff;
    padding-top: 105px;
}
.footer {
    height: 40px;
    background-color: rgba(255,255,0, .85);
    color: blue;
    vertical-align: middle;
    line-height: 40px;
    padding: 0 4%;
    font-weight: bold;
    /*position: fixed;*/
    /*bottom: 0;*/
    width: 100%;
}
footer {
    display: inline-block;
}
.footer button {
    float: right;
    width: 90px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    background-color: blue;
    color: yellow;
    font-size: 14px;
    margin-right: 7%;
}
.footer button:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.1);
    transition: all linear 0.4s;
}
.post {
    padding: 5px;
    border-bottom: 2px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.post img {
    border-radius: 7px;
    width: 25%;
    height: auto;
    float: left;
}
.post:after {
    display: block;
    clear: both;
    content: '';
}
.descriptions {
    display: inline-block;
    width: 75%;
}
.descriptions h2 {
    display: inline-block;
    padding-left: 10px;
}
.descriptions p {
    padding: 2px 0 2px 10px;
}
form {
    width: 240px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: gray;
    border-radius: 10px;
}
/*================ end 1 lesson */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}
.overlay:target {
    display: block;
}
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.6s ease-out;
}
.overlay:target+.popup {
    transform: translate(-50%, 0);
    top: 20%;
}
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*--end popup--*/

.header i {
    float: right;
    margin-top: 16px;
    display: none;
}

@media screen and (max-width: 620px) {
    .header i {
        display: block;
    }
    .action {
        height: 248px;
        transition: all ease 0.4s;
    }
    .action nav {
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
    }
    .action nav li {
        display: block;
        margin: 0;
    }
    .action nav a {
        border: none;
        border-top: 1px solid blue;
        width: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}
/*table*/
.table {
    font-size: 18px;
    margin-left: 5%;
    padding-top: 20px;
}
table {
    text-align: center;
    width: 90%;
}
thead {
    background: #fc0;
}
tbody {
    background: #ccc;
}
.view {
    color: blue;
}
.edit {
    color: red;
}