*{
padding: 0;
margin: 0;
}
html{
    background-color:#ADD8E6 ;
}
/*html::-webkit-scrollbar {

    width: 0;

}*/
.header{
    height: 80px;
    color: #8BB7CC;
    text-align: center;
    background-color: #073234;
    vertical-align: middle;
    line-height: 80px;
    padding: 0 10px;
}
nav li, h1, header, nav {
    display: inline-block;
    font-family: Helvetica, sans-serif;
}
header {
    float: left;
    height: 100%;
}
nav {
    float: right;
}
nav li {
    margin: 0 10px;
    vertical-align: middle;
    line-height: 40px;
}
nav a {
    color: #8BB7CC;
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
    font-size:18px;
    height: 40px;
    border: 2px inset #8BB7CC;
    display: inline-block;
    border-radius: 10px;
}
nav a:hover {
    transform:scaleY(1.1);
    transition:all 0.1s linear 0.0s;

}
.home {
    height: 750px;
    background: url('03.jpeg') 100% 100% no-repeat;
    background-size: auto;
    text-align: center;
    color: #8BB7CC;
    vertical-align: bottom;
    text-shadow: 2px 2px 2px #073234;
    position: relative;
    animation: changed 12s ease 0.0s infinite;
}
@keyframes changed {
    from {
        background: url('03.jpg') 100% 100%;
    }
    33% {
        background: url('07.jpg') 100% 100%;
    }
    66% {
        background: url('05.jpg') 100% 100%;
    }
    to {
        background: url('03.jpg') 100% 100%;
    }
}
.home h2 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.price {
    height: 300px;
    background-color: #EAEAEA;
    padding: 25px 2%;
}
.tariff {
    width: 30%;
    height: 300px;
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 1.25%;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    position: relative;
}
.tariff h2, .tariff p {
    padding-top: 10px;
}
.tariff i {
    color: #073234;
}
.tariff button {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    color: #073234;
    text-shadow: 1px 1px 2px white;

}
.tariff button:hover {
    cursor: pointer;
    transform: scaleY(1.2);
    transition: all 0.2s ease 0.0s;
}
.events {
    height:550px;
    background-color: #ADD8E6;
}
.events button{
    width: 20%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    color: #4169E1;
    text-shadow: 1px 1px 2px #4169E1;
    display:none;
}
.contact-us {
    padding-top: 10px;
    height: 300px;
    background-color: #ADD8E6;
}
.footer {
    height: 40px;
    color: white;
    vertical-align: middle;
    line-height: 40px;
    padding: 0 4%;
    background-color: /*#5F9EA0;*/ #073234;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
footer {
    display: inline-block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.footer button {
    float: right;
    width: 100px;
    height:35px;
    margin-top: 3px;
    border-radius: 5px;
    outline: none;
    background-color: #EADC9C;
    color: black;
    font-size: 20px;
    margin-right: 5%;
    border: 3px outset #8BB7CC;

}
.footer button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all linear 0.2s;
    background-color: white;
    color: #AFEEEE;
}
.post {
    padding: 5px;
    border-bottom: 2px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.post img {
    border-radius: 7px;
    width: 145px;
    height: 145px;
    float: left;
}
.post:after {
    display: block;
    clear: both;
    content:'';
}
.descriptions1, .descriptions2, .descriptions3 {
    display: inline-block;
    width: 75%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}.descriptions1, .descriptions2, .descriptions3 h2 {
    display: inline-block;
    padding-left: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
 }
.descriptions1, .descriptions2, .descriptions3 p {
    padding: 2px 0 2px 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}
.overlay:target {
    display: block;
}
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.7s ease-out;
    color: black;
}
.overlay:target+.popup {
    transform: translate(-49%, 0);
    top: 20%;
}
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;

}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    transform: rotate(180deg);
}
.header i {
    float: right;
    margin-top: 16px;
    display: none;
}

@media screen and (max-width: 870px) {
    .header i {
        display: block;
    }
    .action {
        height: 248px;
        transition: all ease 0.4s;
    }
    .action nav {
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
    }
    .action nav li {
        display: block;
        margin: 0;
    }
    .action nav a {
        border: none;
        border-top: 1px solid white;
        width: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}
@media screen and (max-width: 825px) {
    .price {
        height: 320px;
        background-color: #EAEAEA;
        padding: 25px 2%;
    }

    .tariff {
        width: 100%;
        height: 100px;
        display: block;
        background-color: white;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin: 0 1.25%;
        text-align: center;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .tariff h2, .tariff p, .tariff, .tariff button {
        padding-top: 10px;
        display: inline-block;
    }

    .tariff i {
        color: #073234;
    }

    .tariff button {
        width: 20%;
        height: 50px;
        margin-top: 20px;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        color: #073234;
        text-shadow: 1px 1px 2px #4169E1;
    }
}
@media screen and (max-width: 900px){
    .events p{
        display: none;
    }
    .events img{
    display:none;
    }
    .events {
    height:300px;
    }
    .events button {
        width: 20%;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        color: #073234;
        text-shadow: 1px 1px 2px #4169E1;
        float: right;
        display: block;
    }
    .post {
        height: 70px;
    }
}
@media screen and (max-width: 550px){
    .tariff h2, p, i{
    display: none;
    }
}
.tablespot {
    font-size: 18px;
    margin-left: 5%;
    padding-top: 20px;
    background-color: #ADD8E6;
    font-family: Helvetica, sans-serif;
}
table {
    text-align: center;
    width: 90%;
    background-color: black;
    font-family: Helvetica, sans-serif;
}
thead {
    background: #ADD8E6;
    font-family: Helvetica, sans-serif;
}
tbody {
    background: #ADD8E6;
    font-family: Helvetica, sans-serif;
}
.view1, .view2, .view3{
    color: blue;
}
.edit {
    color: red;
}



